@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    code {
        @apply rounded bg-red-500/10 px-1.5 py-0.5 text-red-500;
    }
    a[target='_blank'] {
        @apply underline transition-colors hover:text-red-500;
    }
    [x-cloak] {
        display: none !important;
    }
}

@layer components {
    .form-field-input {
        @apply w-full rounded-lg bg-black-900 px-4 py-2 placeholder-transparent focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-red-500/50 dark:outline-white/50;
    }
    .form-field-label {
        @apply absolute -top-6 left-0 text-sm font-semibold text-black transition-all duration-200 ease-out peer-placeholder-shown:left-4 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:font-normal peer-placeholder-shown:text-opacity-70 peer-focus:-top-6 peer-focus:left-0 peer-focus:text-sm peer-focus:font-semibold peer-focus:text-black dark:text-white dark:peer-focus:text-white;
    }
}
