---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Homepage">
    <div
        id="hero-section"
        class="flex min-h-[100svh] px-4 lg:px-8 xl:px-16"
    >
        <div class="m-auto w-full max-w-screen-xl">
            <div class="max-w-lg">
                <h1
                    class="mb-2 text-5xl font-bold lg:text-8xl xl:text-9xl"
                    data-animate="[&>span>span]:to:y-0|stagger-0.25"
                >
                    <span class="relative inline-block overflow-hidden">
                        <span class="inline-block translate-y-full">
                            Hudson
                        </span>
                    </span>
                    <span class="relative inline-block overflow-hidden">
                        <span class="inline-block translate-y-full">
                            Whittaker
                        </span>
                    </span>
                </h1>
                <h2>
                    I'm a software engineer. This is my website. Welcome 👋
                </h2>
            </div>
        </div>
    </div>
    <div
        class="container mx-auto grid items-center gap-16 p-6 pt-0 xl:grid-cols-2 xl:gap-32"
    >
        <div class="grid grid-cols-1 items-start gap-16">
            <Card
                title="Web Development"
                link="/webdev"
            >
                <p>
                    I have a software engineering degree. And yet, I've been
                    conning
                    <a
                        href="https://mir.us"
                        target="_blank"
                        @click.prevent.stop="window.open('https://mir.us', '_blank')"
                    >
                        Mirus Research</a
                    >
                    into thinking I'm a web developer for the past two years. 🤫
                    How did I get here? Well, this is how.
                </p>
            </Card>
            <Card
                title="Film Photography"
                link="/film"
            >
                <p>
                    This interest has only developed (get it?) recently. In May
                    2022 I went to Iceland for a week and my friend let me shoot
                    some color positive film in his Cannon A-1. I shortly got my
                    own Nikon FE and have been shooting everywhere I go since.
                </p>
            </Card>
            <Card
                title="Free Clout"
                link="/free-clout"
            >
                <p>
                    There are a lot of people, software, and resources that I
                    have found over the years that I don't hate. I've decided to
                    curate and organize them here. Definitely check this list
                    out because there's nothing there for you.
                </p>
            </Card>
        </div>
        <ContactForm title="Contact Form">
            <p>
                I'm not sure why you'd want to contact me, but if you do, this
                is the place to do it. I might get back to you; I might not.
            </p>
        </ContactForm>
    </div>
</Layout>
<script>
    import gsap from 'gsap';
    import glaze from 'glazejs';

    glaze({
        lib: {
            gsap: {
                core: gsap,
            },
        },
        // the root element which will be searched for elements
        // element: document,
        // the attribute to search for
        dataAttribute: 'data-animate',
        // custom breakpoints
        breakpoints: {
            // default: '(min-width: 1px)',
        },
        // watch elements for changes and restart animations with new settings
        watch: true,
    });
</script>
