<div
    class="mt-8 bg-black-900 p-4 pb-24 text-sm md:mt-16 md:pb-4 lg:mt-24 xl:mt-32"
>
    <div class="mx-auto flex w-full max-w-screen-2xl justify-between">
        <a
            href="https://youtu.be/huH-NMv1ad4"
            target="_blank"
            >look at us</a
        >
        <span>powered by <em>coffee</em></span>
    </div>
</div>
